/*buttons*/
.button {
    height: 3rem;
    min-width: 220px;
    display: inline-block;
    padding: 0 2rem;
    line-height: 3.3rem;
    letter-spacing: 0.1em;
    font-family: $cb;
    color: #231f20;
    text-transform: uppercase;
    background: -moz-linear-gradient(left, rgba(233,175,27,1) 0%, rgba(233,175,27,1) 15%, rgba(255,243,168,1) 50%, rgba(233,175,27,1) 85%, rgba(233,175,27,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(233,175,27,1)), color-stop(15%, rgba(233,175,27,1)), color-stop(50%, rgba(255,243,168,1)), color-stop(85%, rgba(233,175,27,1)), color-stop(100%, rgba(233,175,27,1)));
    background: -webkit-linear-gradient(left, rgba(233,175,27,1) 0%, rgba(233,175,27,1) 15%, rgba(255,243,168,1) 50%, rgba(233,175,27,1) 85%, rgba(233,175,27,1) 100%);
    background: -o-linear-gradient(left, rgba(233,175,27,1) 0%, rgba(233,175,27,1) 15%, rgba(255,243,168,1) 50%, rgba(233,175,27,1) 85%, rgba(233,175,27,1) 100%);
    background: -ms-linear-gradient(left, rgba(233,175,27,1) 0%, rgba(233,175,27,1) 15%, rgba(255,243,168,1) 50%, rgba(233,175,27,1) 85%, rgba(233,175,27,1) 100%);
    background: linear-gradient(to right, rgba(233,175,27,1) 0%, rgba(233,175,27,1) 15%, rgba(255,243,168,1) 50%, rgba(233,175,27,1) 85%, rgba(233,175,27,1) 100%);

    border: 0;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -2em;
        width: 150%;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(237, 237, 237, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
        background-size: 2em 100%;
        transform: skewX(-45deg);
    }

    &:hover:after {
        transition: 0.4s linear;
        background-position: 150% 0%;
    }

    &--white {
        background: #fff;
    }
}


/*inputs*/
.form-control {
    width: 100%;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    input {
        width: 100%;
        display: block;
        border: 0;
        background-color: transparent;
        color: #fff;
        font-size: 1.5rem;
        height: 3.25rem;
        border-bottom: 2px solid #fff;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            border-color: $gold;
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}