.grid {
    @include flex($justify: center);
    margin-top: 65px;
     @media (max-width: 1300px) {
         margin-top: 45px;
     }
     @media (max-width: 800px) {
         margin-top: 25px;
     }
    &__title {
        width: 100%;
        text-align: center;
        font: 36px $l;
        text-transform: uppercase;
        color: $gold;
        margin-bottom: 35px;
        @media (max-width: 1600px) {
            margin-bottom: 20px;
        }
        @media (max-width: 1300px) {
            margin-bottom: 10px;
            font-size: 2rem;
        }
    }
    &__item {
        width: 380px;
        height: 250px;
        margin: 10px;
        position: relative;
        font-family: $l;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 400px) {
            width: 280px;
            height: 200px;
        }
        &:after {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: #000;
            content: '';
            height: 100%;
            opacity: .65;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: '';
            height: 100%;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            color: #FFF;
            text-transform: uppercase;
            font-size: 1.25rem;
            position: relative;
            z-index: 2;
            padding: 0 5px;
        }
    }
}

.join__controls {
    width: 100%;
    text-align: center;
    padding: 4.75rem;
    @media (max-width: 1300px) {
        padding: 2rem 4.75rem 4rem;
    }
    span {
        display: block;
        letter-spacing: 0.1em;
        color: #FFF;
        margin-bottom: 12px;
        text-transform: uppercase;
        font-family: $l;
    }

    .button {
        margin: 0 8px;
    }
    @media (max-width: 640px) {
        padding: 4rem 0;
        .button {
            width: 280px;
            display: block;
            margin: 10px auto;
        }
    }
}