.offer {
    height: 380px;
    margin-bottom: 140px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }
    &:after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #231F20;
        content: '';
        height: 100%;
        opacity: .5;
    }
    &__info {
        display: inline-block;
        vertical-align: middle;
        max-width: 98%;
        position: relative;
        z-index: 2;
    }

    .title {
        margin-bottom: 0;
    }
}