.club-packages {
    .packages-title {
        font-family: $csb;
        font-size: 1.5rem;
        padding: 70px 0;
        letter-spacing: 0.025em;
        line-height: 1.75rem;
    }
}

.packages-box {
    width: 1680px;
    @include flex($justify: center);
    margin: 0 auto;

    @media (max-width: 1700px) {
        width: 100%;
        padding: 0 10px;
    }

    .package {
        width: -webkit-calc(33.3333% - 80px);
        width: calc(33.3333% - 80px);
        margin: 0 40px;

        img {
            width: 100%;
            display: block;
        }
    }
}