
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $cr;
    font-size: 1.125rem;
    color: #fff;
    background-color: $brown;
    padding-top: 20px;
}


.title {
    font: 4.5rem $ob;
    font-weight: normal;
}
.block-title {
    width: 100%;
    text-align: center;
    font: 2.25rem $or;
    font-weight: normal;
    text-transform: uppercase;
    color: $gold;
    margin-bottom: 35px;
}
.article {
    text-align: left;
    h2 {
        color: $gold;
        text-transform: uppercase;
        font-family: $cr;
        font-size: 1.125rem;
        margin-bottom: 1.25rem;
    }
    p {
        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }
}
.justify {
    width: 100%;
    .row {
        display: block;
        margin-top: 30px;
        @include flex();
    }
    font: 18px $cb;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1.3px;

}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
    padding: 0 10px;
	margin: 0 auto;
	text-align: center;
    &--wide {
        width: 1570px;
        max-width: 82%;
    }
}
