
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $cr;
    font-size: 1.125rem;
    color: #fff;
}

article {
    p {
        &:not(:last-child) {
            margin-bottom: 1.22rem;
        }
    }
}




// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
