
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $cr;
    font-size: 18px;
    color: #fff;
    background-color: $brown;
    padding-top: 20px;
}

article {
    p {
        &:not(:last-child) {
            margin-bottom: 1.22rem;
        }
    }
}

.title {
    font: 72px $ob;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    &--wide {
        width: 1570px;
        max-width: 82%;
    }
}
