// COLORS
// ---------------------------


// FONTS
// ---------------------------
$cr:                        'crimson_textroman';
$cb:                        'crimson_textbold';
$csb:                       'crimson_textsemibold';

$or:                        'open_sansregular';
$ob:                        'open_sansbold';
$osb:                       'open_sanssemibold';




// RESPONSIVE
// ---------------------------
