// COLORS
// ---------------------------
$brown:                     #231f20;
$gold:                      #cda553;
$text:                      #231f20;

// FONTS
// ---------------------------

$lt:                         'Lato Thin';
$l:                          'Lato';

$or:                        'open_sansregular';
$ob:                        'open_sansbold';
$osb:                       'open_sanssemibold';




// RESPONSIVE
// ---------------------------
